<div class="user-details">
  <h1> Selected Projects </h1>
</div>




<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/pred_hack.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Presidential Hackathon </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>{{site.project_10}}</p>
    <a class="project-link" target="_blank" href="http://news.pchome.com.tw/healthcare/tssdnews/20180604/index-15280416004917167012.html">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/d4sg.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Fellow @Data For Social Good, Taiwan </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>{{site.project_11}}</p>
    <a class="project-link" target="_blank" href="http://d4sgtrauma.sytes.net/#/">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mckinsey_hack.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mckinsey Analytics Hackathon </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>{{site.project_12}}</p>
    <a class="project-link" target="_blank" href="https://datahack.analyticsvidhya.com/contest/mckinsey-analytics-hackathon/">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ntu_hack.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HackNTU, 2017 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>{{site.project_13}}</p>
    <a class="project-link" target="_blank" href="https://www.facebook.com/hackNTU/posts/1442005299218022">Check it out</a>
  </div>
</div>


