<div class="user-details">
  <h1> Skill </h1>
</div>

<div class="user">

    <div class="tech">
      <h2>Data Science</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>{{site.skill_1}}</p>
    </div>

    <div class="tech">
      <h2>Web </h2>
      <i class="devicon-d3js-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>{{site.skill_2}}</p>
    </div>
    
    <div class="tech">
      <h2>Others</h2>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark"></i>
      <p>{{site.skill_3}}</p>
    </div>

</div>
